* {
    box-sizing: border-box;
    background-color: white;
}

body {
    margin: 0;
    height: 100%;
    background-color: white;
    padding-top: 1px;
}

html {
    height: 100%;
    background-color: white;
}

.board {
    overflow: auto;
    max-width: 600px;
    margin: 5em auto;
}

.square {
    position: relative;
    float: left;
    width: 12.5%;
    padding-bottom: 12.5%;
}

.black {
    background-color: lightgray;
}

.white {
    background-color: white;
}


img {
    border: 1px solid red;
    background: transparent;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    /* filter: drop-shadow(0 0 5px rgba(0, 0, 0, )); */
    /* -webkit-filter: drop-shadow(2px 2px 5px rgb(99, 99, 99)); */
    filter: drop-shadow(0 1px 1px rgba(0,0,0,0.12)) drop-shadow(0 2px 2px rgba(0,0,0,0.12)) drop-shadow(0 4px 4px rgba(0,0,0,0.12)) drop-shadow(0 8px 8px rgba(0,0,0,0.12)) drop-shadow(0 16px 16px rgba(0,0,0,0.12));

    -webkit-filter: drop-shadow(0 1px 1px rgba(0,0,0,0.12)) drop-shadow(0 2px 2px rgba(0,0,0,0.12)) drop-shadow(0 4px 4px rgba(0,0,0,0.12)) drop-shadow(0 8px 8px rgba(0,0,0,0.12)) drop-shadow(0 16px 16px rgba(0,0,0,0.12));
}
